body {
  background: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica';
  overflow: hidden;
}

h4 {
  margin: 0em;
}

/* Pop-up window, centered */
.centeredPopUp {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding: 2em;
  margin: 0px;
  display: inline;
  border: 2px solid white;
}

/* Text inside help pop-up*/
#help-keys {
  padding-left: 15em;
  text-align: left;
}

/* Bottom-left corner */
#notes {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  padding: 1vh;
  color: #a0a0a0;
  display: block;
  border: 2px solid #636363;
  background-color: rgba(43, 43, 43, 0.75);
}

/* Top-left corner */
#energy-info {
  position: absolute;
  left: 1vw;
  top: 1vw;
  padding: 1vh;
  color: #a0a0a0;
  display: block;
  border: 2px solid #636363;
  background-color: rgba(43, 43, 43, 0.75);
}

/* Top-right corner */
#level-info {
  position: absolute;
  right: 1vw;
  top: 1vw;
  padding: 1vh;
  color: #a0a0a0;
  border: 2px solid #636363;
  background-color: rgba(43, 43, 43, 0.75);
}

/* Bottom-right corner */
#maze-map {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  padding: 1vh;
  color: #a0a0a0;
  border: 2px solid #636363;
  background-color: rgba(43, 43, 43, 0.75);
}

#restartBtn {
  background-color: #a0a0a0;
  color: black;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

#restartBtn:hover {
  background-color: #474747;
  color: white;
}
